# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\post_pro\wuziqi\GomokuCode\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
